

/* about me section */


#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
}
.image{
    display: flex;
}
.image img{
    width: 300px;
    height: 300px;
}

.text-about-me{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 50px;
    justify-content: center;
}