/* contact me section styles */

#connect-me{
    display: flex;
    flex-direction:column ;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    align-items: center;
}
.social-media ul{
    display: flex;
}
.social-media ul li{
    padding:20px;
    margin: 0 15px;
    font-size: 50px;
    cursor: pointer;
    transition: .5s;
}
.social-media ul li a{
    text-decoration: none;
    color: white;
    position: relative;
    display: block;
    width: 10px;
}