/* making the page responsive for phone size*/


/* home */
#home{
    height: 820px;
}


/* navbar */
.navbar ul{
    flex-wrap: wrap;
    justify-content: center;
}

/* titles */
.titles{
    font-size: 1.7rem;
}

/* about me */

.image{
    flex-direction: column;
    align-items: center;
}

.image img{
    width: 100px;
    height: 100px;
}

.text-about-me{
    padding: 10px;
    text-align: justify;
}

/* skills */
.skills{
    width: 100px;
    margin: 5px auto;
}

/* contact me */
.input{
    width: 80%;
}
#message{
    width: 70%;
}
#send-message{
    width :20%;
}
/* connect me */
/* 
#connect-me{
    display: flex;
    flex-direction:column ;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    align-items: center;
}
.social-media ul li{
    padding:0;
    margin: 0 5px;
    font-size: 10px;
    cursor: pointer;
    transition: .5s;
}
.social-media ul li a{
    text-decoration: none;
    color: white;
    width: 5px;
} */